fastapi
uvicorn
sqlalchemy
pydantic
databases
alembic
httpx
pytest
pytest-asyncio
pytest-cov
python-dotenv
passlib[bcrypt]
python-multipart
email-validator
python-jose
redis
langchain-core
langchain-groq
langgraph
pydantic_settings